@import "../node_modules/leaflet/dist/leaflet.css";

* {
  box-sizing: border-box;
}

h2 {
  margin: 0;
}

html,
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: auto;
  height: 100%;
}

#app {
  display: flex;
  flex-flow: column;
  height: 100%;
}

header {
  flex: 0 1 auto;
  background-color: #192739;
  padding: 15px;
  font-size: 15px;
  color: white;
}

section {
  flex: 1 1 auto;
}

.sidebar {
  float: left;
  width: 20%;
  height: 100%;
  background: #ccc;
  padding: 10px;
}

.map {
  float: left;
  width: 80%;
  height: 100%;
}

.leaflet-container {
  height: 100%;
}
